EgvpEpFetcher/Connected Services/EgvpEnterpriseSoap/EGVP-WebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="CommitReturnCodeType">
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>The requested message id was marked as fetched without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>The required userID was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MESSAGEID_REQUIRED">
        <annotation>
          <documentation>The required commit message id was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userID) does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_MESSAGE">
        <annotation>
          <documentation>The given message id does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MESSAGE_NOT_PROCESSED">
        <annotation>
          <documentation>The given message has not been sent/received.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MESSAGE_ALREADY_COMMITTED">
        <annotation>
          <documentation>The given message has already been committed.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MESSAGE_ALREADY_SENT">
        <annotation>
          <documentation>The given message has already been sent.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MESSAGE_IS_SENDING">
        <annotation>
          <documentation>The given message is sending.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WEBSERVICE_DISABLED">
        <annotation>
          <documentation>The requested web service is disabled.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="commitReceivedMessageRequest">
    <complexType>
      <sequence>
        <element minOccurs="1" name="userID" type="string">
          <annotation>
            <documentation>The account to commit a message for.</documentation>
          </annotation>
        </element>
        <element minOccurs="1" name="messageID" type="string">
          <annotation>
            <documentation>The message to be marked as received.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="commitReceivedMessageResponse">
    <complexType>
      <sequence>
        <element minOccurs="1" name="userID" type="string">
          <annotation>
            <documentation>The account to commit a message for.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="messageID" type="string">
          <annotation>
            <documentation>The id of the committed message.</documentation>
          </annotation>
        </element>
        <element name="returnCode" type="tns:CommitReturnCodeType">
          <annotation>
            <documentation>The result of the commit operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="commitSentMessageRequest">
    <complexType>
      <sequence>
        <element minOccurs="1" name="userID" type="string">
          <annotation>
            <documentation>The account to commit a message for.</documentation>
          </annotation>
        </element>
        <element minOccurs="1" name="messageID" type="string">
          <annotation>
            <documentation>The message to be marked as sent.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="commitSentMessageResponse">
    <complexType>
      <sequence>
        <element name="returnCode" type="tns:CommitReturnCodeType">
          <annotation>
            <documentation>The result of the commit operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="cancelSentMessageRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>The account to cancel a sent message for.</documentation>
          </annotation>
        </element>
        <element name="customID" type="string">
          <annotation>
            <documentation>The unique ID for this message, managed by the caller.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="cancelSentMessageResponse">
    <complexType>
      <sequence>
        <element name="returnCode" type="tns:CommitReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>