EgvpEpFetcher/Connected Services/EgvpEnterpriseSoap/EGVP-WebService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="VerifyReturnCodeType">
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>Operation completed without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>The request did not provide an account id.
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="OSCIDATA_REQUIRED">
        <annotation>
          <documentation>The request did not provide an OSCI message.
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userID) does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="INVALID_MESSAGE">
        <annotation>
          <documentation>OSCI message is invalid.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WEBSERVICE_DISABLED">
        <annotation>
          <documentation>The requested service is disabled.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <complexType name="OSCIContainerType">
    <sequence>
      <element xmime:expectedContentTypes="application/octet-stream" name="data" type="base64Binary">
        <annotation>
          <documentation>The OSCI content data XML.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="verifyMessageRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>The account id, this message belongs to.
						</documentation>
          </annotation>
        </element>
        <element name="osci" type="tns:OSCIContainerType" />
      </sequence>
    </complexType>
  </element>
  <element name="verifyMessageResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" name="messageID" type="string">
          <annotation>
            <documentation>The message ID of the returned message.
						</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="messageZIP" type="base64Binary">
          <annotation>
            <documentation>The interpreted, verified message data, packaged as
							a ZIP container.</documentation>
          </annotation>
        </element>
        <element name="returnCode" type="tns:VerifyReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>