EgvpEpFetcher/Connected Services/EgvpEnterpriseSoap/EGVP-WebService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="GetUncommittedMessageIDsReturnCodeType">
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>Operation completed without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userID) does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>The required userID was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <complexType name="UncommittedMessageType">
    <annotation>
      <documentation>an uncommitted Message object with messageID and osciDate</documentation>
    </annotation>
    <sequence>
      <element name="messageID" type="string" />
      <element name="osciDate" type="dateTime" />
    </sequence>
  </complexType>
  <element name="getUncommittedMessageIDsRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>The account to use.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="getUncommittedMessageIDsResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" name="count" type="int">
          <annotation>
            <documentation>The total number of unfetched messages.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" maxOccurs="unbounded" name="uncommittedMessages" type="tns:UncommittedMessageType">
          <annotation>
            <documentation>The results matching the search criteria.</documentation>
          </annotation>
        </element>
        <element name="returnCode" type="tns:GetUncommittedMessageIDsReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>