EgvpEpFetcher/Connected Services/EgvpEnterpriseSoap/EGVP-WebService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="ReceiveReturnCodeType">
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>Operation completed without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userID) does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_MESSAGE">
        <annotation>
          <documentation>No message found with the respective message id.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>The required userID was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_MESSAGES_TO_RECEIVE">
        <annotation>
          <documentation>There are no messages to receive.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WEBSERVICE_DISABLED">
        <annotation>
          <documentation>The requested web service is disabled.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="receiveMessageRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>The message box, from which the message should be received.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="messageID" type="string">
          <annotation>
            <documentation>Specifies the message id to be retrieved. If no message id is specified, the next new message is
							received.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="receiveMessageResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" name="messageID" type="string">
          <annotation>
            <documentation>The message id of the received message.</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="messageZIP" type="base64Binary">
          <annotation>
            <documentation>The data of the received message is packaged in a ZIP container.</documentation>
          </annotation>
        </element>
        <element name="returnCode" type="tns:ReceiveReturnCodeType">
          <annotation>
            <documentation>The result of the receive operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>