EgvpEpFetcher/Connected Services/EgvpEnterpriseSoap/EGVP-WebService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="SearchReturnCodeType">
    <annotation>
      <documentation>The result of the operation</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>The operation was successful.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userID) does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SEARCH_CRITERIA">
        <annotation>
          <documentation>No or empty search criteria were specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MIXED_SEARCH_CRITERIA">
        <annotation>
          <documentation>UserID and other item are mixed in search criteria. To search for UserID, it must be the only
						criteria.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>No searching account (userID) was specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TOO_MANY_RESULTS">
        <annotation>
          <documentation>The search criteria have too many results. No results are returned.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SearchModeType">
    <annotation>
      <documentation>The search mode for given search criteria value</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="CONTAINS" />
      <enumeration value="EXACT" />
    </restriction>
  </simpleType>
  <complexType name="BCItem">
    <simpleContent>
      <extension base="string">
        <attribute name="searchMode" type="tns:SearchModeType" use="required" />
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="BusinessCardType">
    <annotation>
      <documentation>organization, organizationalUnit, address, title, christianname, name, street, streetnumber, zipcode,
				city, federalstate,
				country, email, cellphone, phone, fax, userID, filterID, role</documentation>
    </annotation>
    <sequence>
      <element name="organization" type="tns:BCItem" />
      <element name="organizationalUnit" type="tns:BCItem" />
      <element name="address" type="tns:BCItem" />
      <element name="title" type="tns:BCItem" />
      <element name="christianName" type="tns:BCItem" />
      <element name="name" type="tns:BCItem" />
      <element name="street" type="tns:BCItem" />
      <element name="streetNumber" type="tns:BCItem" />
      <element name="zipCode" type="tns:BCItem" />
      <element name="city" type="tns:BCItem" />
      <element name="federalState" type="tns:BCItem" />
      <element name="country" type="tns:BCItem" />
      <element name="email" type="tns:BCItem" />
      <element name="cellPhone" type="tns:BCItem" />
      <element name="phone" type="tns:BCItem" />
      <element name="fax" type="tns:BCItem" />
      <element name="userID" type="tns:BCItem" />
      <element name="filterID" type="tns:BCItem" />
      <element name="role" type="tns:BCItem" />
    </sequence>
  </complexType>
  <element name="searchReceiverRequest">
    <annotation>
      <documentation>At least one of the elements must be specified, but none may be specified twice. The elements are
				combined with AND. It is permitted to specify only the starting characters for each element (wild card search).
			</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>The userID who searches.</documentation>
          </annotation>
        </element>
        <element minOccurs="1" maxOccurs="1" name="searchCriteria" type="tns:BusinessCardType">
          <annotation>
            <documentation>The search parameters</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="searchReceiverResponse">
    <annotation>
      <documentation>Result count; All entries with name, organization, city and userID (max. 500)</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element minOccurs="0" name="count" type="int">
          <annotation>
            <documentation>The total number of results matching the search criteria.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" maxOccurs="unbounded" name="receiverResults" type="tns:BusinessCardType">
          <annotation>
            <documentation>The results matching the search criteria.</documentation>
          </annotation>
        </element>
        <element name="returnCode" type="tns:SearchReturnCodeType">
          <annotation>
            <documentation>The return code of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>