EgvpEpFetcher/Connected Services/EgvpEnterpriseSoap/EGVP-WebService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="NotificationCallbackReturnCodeType">
    <annotation>
      <documentation>The result of the operation</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>Operation completed without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userID) does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>The required userID was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ENDPOINT_ADDRESS_REQUIRED">
        <annotation>
          <documentation>The required end point address was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ENDPOINT_ADDRESS_UNREACHABLE">
        <annotation>
          <documentation>The end point address is unreachable.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ENDPOINT_ADDRESS_INVALID">
        <annotation>
          <documentation>The end point address does not respond.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_NOTIFICATION_REGISTERED">
        <annotation>
          <documentation>For the given account, no notification was registered.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.
          </documentation>
        </annotation>
      </enumeration>
      <enumeration value="WEBSERVICE_DISABLED">
        <annotation>
          <documentation>The requested service is disabled.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="registerNotificationCallbackRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>account identifier</documentation>
          </annotation>
        </element>
        <element name="endpointAddress" type="string">
          <annotation>
            <documentation>notification endpoint URI</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="registerNotificationCallbackResponse">
    <complexType>
      <sequence>
        <element name="returnCode" type="tns:NotificationCallbackReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="deregisterNotificationCallbackRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>account identifier</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="deregisterNotificationCallbackResponse">
    <complexType>
      <sequence>
        <element name="returnCode" type="tns:NotificationCallbackReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>