src/OvgRlp.EgvpEpFetcher/Connected Services/EgvpEnterpriseSoap/EGVP-WebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:de:bos-bremen:egvp:ws" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:de:bos-bremen:egvp:ws" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="SendReturnCodeType">
    <restriction base="string">
      <enumeration value="OK">
        <annotation>
          <documentation>Operation completed without error.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_ACCOUNT">
        <annotation>
          <documentation>Account (userID) does not exist.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO_SUCH_MESSAGE">
        <annotation>
          <documentation>No message found with the respective message id.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PENDING">
        <annotation>
          <documentation>The requested message has not yet been sent.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="USERID_REQUIRED">
        <annotation>
          <documentation>The required userID was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RECEIVER_REQUIRED">
        <annotation>
          <documentation>The required receiver was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CUSTOMID_REQUIRED">
        <annotation>
          <documentation>The required id of the message to be sent was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RECEIVER_NOT_FOUND">
        <annotation>
          <documentation>The receiver can not be found.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UNSUPPORTED_RECEIVER_TYPE">
        <annotation>
          <documentation>The respective receiver type is not supported.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MESSAGE_TYPE_REQUIRED">
        <annotation>
          <documentation>The message type was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UNSUPPORTED_MESSAGE_TYPE">
        <annotation>
          <documentation>The respective message type is not supported.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SUBJECT_REQUIRED">
        <annotation>
          <documentation>The required subject was not specified.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ATTACHMENT_NAME_NOT_FOUND">
        <annotation>
          <documentation>The name of the attachment was not found.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TOO_MANY_ATTACHMENTS">
        <annotation>
          <documentation>Maximum number of attachments exceeded.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ATTACHMENTS_TOO_LARGE">
        <annotation>
          <documentation>Maximum entire size of attachments exceeded.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_SQL_ERROR">
        <annotation>
          <documentation>General error while accessing the database.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GENERAL_ERROR">
        <annotation>
          <documentation>An unspecified error occurred.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WEBSERVICE_DISABLED">
        <annotation>
          <documentation>The requested web service is disabled.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="sendSynchroniousMessageRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>The account to send from.</documentation>
          </annotation>
        </element>
        <element name="messageType" type="tns:MessageTypeType">
          <annotation>
            <documentation>The type of OSCI message.</documentation>
          </annotation>
        </element>
        <element name="receiverID" type="string">
          <annotation>
            <documentation>Unique id of the recipient. The type of recipient is specified in receiverKey.</documentation>
          </annotation>
        </element>
        <element name="receiverKey" type="tns:ReceiverKeyType">
          <annotation>
            <documentation>Type of unique receiverID.</documentation>
          </annotation>
        </element>
        <element minOccurs="1" name="subject" type="string">
          <annotation>
            <documentation>The subject that should be displayed in the message are of the administration window.
						</documentation>
          </annotation>
        </element>
        <element name="signMessage" type="boolean">
          <annotation>
            <documentation>Signature required.</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="visualXML" type="base64Binary">
          <annotation>
            <documentation>XML structure to visualize the message</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="visualXSL" type="base64Binary">
          <annotation>
            <documentation>XSL which demands the visualization.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" maxOccurs="unbounded" name="attachments" type="tns:AttachmentType">
          <annotation>
            <documentation>List of attachments.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="sendSynchroniousMessageResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" name="messageID" type="string">
          <annotation>
            <documentation>The message ID of the returned message.</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="messageZIP" type="base64Binary">
          <annotation>
            <documentation>The reception data of the send message is packaged in a ZIP container.</documentation>
          </annotation>
        </element>
        <element name="returnCode" type="tns:SendReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="sendAsynchroniousMessageRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>The account to send from.</documentation>
          </annotation>
        </element>
        <element name="messageType" type="tns:MessageTypeType">
          <annotation>
            <documentation>The type of OSCI message.</documentation>
          </annotation>
        </element>
        <element name="receiverID" type="string">
          <annotation>
            <documentation>Unique id of the recipient. The type of recipient is specified in receiverKey.</documentation>
          </annotation>
        </element>
        <element name="receiverKey" type="tns:ReceiverKeyType">
          <annotation>
            <documentation>Type of unique receiverID.</documentation>
          </annotation>
        </element>
        <element minOccurs="1" name="subject" type="string">
          <annotation>
            <documentation>The subject that should be displayed in the message are of the administration window.
						</documentation>
          </annotation>
        </element>
        <element name="signMessage" type="boolean">
          <annotation>
            <documentation>Signature required.</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="visualXML" type="base64Binary">
          <annotation>
            <documentation>XML structure to visualize the message</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="visualXSL" type="base64Binary">
          <annotation>
            <documentation>XSL which demands the visualization.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" maxOccurs="unbounded" name="attachments" type="tns:AttachmentType">
          <annotation>
            <documentation>List of attachments.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="sendAsynchroniousMessageResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="customID" type="string">
          <annotation>
            <documentation>The unique ID to track the processing of the message sending.</documentation>
          </annotation>
        </element>
        <element name="returnCode" type="tns:SendReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="asynchroniousMessageSentRequest">
    <complexType>
      <sequence>
        <element name="userID" type="string">
          <annotation>
            <documentation>The account to get a sent message for.</documentation>
          </annotation>
        </element>
        <element name="customID" type="string">
          <annotation>
            <documentation>The unique ID for this message, managed by the caller.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="asynchroniousMessageSentResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" name="messageID" type="string">
          <annotation>
            <documentation>The message ID of the returned message.</documentation>
          </annotation>
        </element>
        <element xmime:expectedContentTypes="application/octet-stream" minOccurs="0" name="messageZIP" type="base64Binary">
          <annotation>
            <documentation>The reception data of the send message is packaged in a ZIP container.</documentation>
          </annotation>
        </element>
        <element name="returnCode" type="tns:SendReturnCodeType">
          <annotation>
            <documentation>The result of the operation.</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <complexType name="AttachmentType">
    <sequence>
      <element xmime:expectedContentTypes="application/octet-stream" name="data" type="base64Binary">
        <annotation>
          <documentation>The binary data of the attachment.</documentation>
        </annotation>
      </element>
      <element name="name" type="string">
        <annotation>
          <documentation>The name of the attachment.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="MessageTypeType">
    <annotation>
      <documentation>see "Fachkonzept EGVP".</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Allgemeine Nachricht" />
      <enumeration value="HR-Beteiligter" />
      <enumeration value="HR-Gericht" />
      <enumeration value="Mahn-Antrag" />
      <enumeration value="Mahn-Nachricht" />
      <enumeration value="Mahn-Abgabe" />
      <enumeration value="Testnachricht" />
      <enumeration value="Ubest-Mahn" />
    </restriction>
  </simpleType>
  <simpleType name="ReceiverKeyType">
    <restriction base="string">
      <enumeration value="USER_ID">
        <annotation>
          <documentation>corresponds to userID, that is assigned from directory service.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ROLE">
        <annotation>
          <documentation>corresponds to the attribute "Externe-ID" of the user, which is assigned by the administration
						console of the directory service.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>